<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost:9001/db2</property>
        <property name="connection.username">SA</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class ="tables.Categoria"/>
        <mapping class ="tables.Menu"/>
        <mapping class ="tables.Mesa"/>
        <mapping class ="tables.Orden"/>
        <mapping class ="tables.Pedido"/>
        <mapping class ="tables.Administrador"/>

    </session-factory>
</hibernate-configuration>